@import "../../styles/variables.scss";

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;

  > img {
    width: 100%;
    max-width: 18rem;
    max-width: auto;

    @media (max-width: $mobile) {
      padding-bottom: 2rem;
    }
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.hero {
  max-width: 600px;

  @media (max-width: $mobile) {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  > span {
    font-size: 1.5rem;
    font-weight: bold;

    @media (max-width: $mobile) {
      font-size: 1rem;
    }
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2rem;

    @media (max-width: $mobile) {
      font-size: 3.5rem;
      line-height: 3.5rem;
      margin-top: 1rem;
    }

    span {
      color: var(--cyan-500);
    }
  }

  p:first-child {
    @media (max-width: $mobile) {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;

    @media (max-width: $mobile) {
      font-size: 1rem;
      line-height: 1.35rem;
      margin-top: 1rem;
    }

    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  button {
    margin-top: 2.5rem;

    @media (max-width: $mobile) {
      height: 3.65rem;
      max-width: 14rem;
      font-size: 1.15rem;
      margin: 1.45rem auto 0;
    }
  }
}
